[Unit]
Description=Raspberry Pi System status logger
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/camuser/hailo/rpi-system-test
ExecStart=/home/camuser/hailo/venv_hailo/bin/python /home/camuser/hailo/rpi-system-test/status_log.py
Restart=always
RestartSec=3
Environment="PATH=/home/camuser/hailo/venv_hailo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="PYTHONPATH=/home/camuser/hailo/rpi-system-test"
StandardOutput=append:/tmp/system_logger_output.log
StandardError=append:/tmp/system_logger_error.log

[Install]
WantedBy=default.target
