[Unit]
Description=Raspberry Pi System Monitor
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/camuser/hailo/rpi-system-test
ExecStart=/home/camuser/hailo/venv_hailo/bin/python /home/camuser/hailo/rpi-system-test/main.py
Restart=no
RestartSec=3
Environment="PATH=/home/camuser/hailo/venv_hailo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="PYTHONPATH=/home/camuser/hailo/rpi-system-test"
StandardOutput=append:/tmp/system_monitor_stdout.log
StandardError=append:/tmp/system_monitor_stderr.log

[Install]
WantedBy=default.target
