[Unit]
Description=Run Python Detection Script with Environment Setup
After=network.target

[Service]
ExecStart=/bin/bash /home/camuser/aicamera/src/auto_detection.sh
Restart=always
User=camuser
Group=users
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/camuser/aicamera/

[Install]
WantedBy=multi-user.target