[Unit]
Description=License Plate Monitoring Service
After=network.target

[Service]
ExecStart=/home/camuser/aicamera/venv_hailo/bin/python /home/camuser/aicamera/send_socket.py
WorkingDirectory=/home/camuser/aicamera/
Restart=always  # Restart on failures
User=camuser
Group=users
StandardOutput=syslog
StandardError=syslog
Environment=PYTHONUNBUFFERED=1
TimeoutStopSec=5  # Ensures clean shutdown

[Install]
WantedBy=multi-user.target
